body {
    text-align: center;
}

.container {
    background-color: aquamarine;
    width: 70%;
    padding: 2em;
}

.outer-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.multi-btn {
    width: 30%;
    color: aliceblue;
    background-color: saddlebrown;
    padding: 0.3em;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}