body {
    text-align: center;
}

.container {
    background-color: aquamarine;
    width: 70%;
    padding: 2em;
    cursor: pointer;
}

.outer-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.multi-btn {
    width: 30%;
    color: aliceblue;
    background-color: saddlebrown;
    padding: 0.3em;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.h2 {
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 5em;
}

span {
    font-size: 2rem;
    font-weight: 800;
}

.p {
    font-size: 1.3rem;
    font-weight: 600;
    color: aliceblue;
}

.answers {
    background-color: brown;
    padding: 1em;
}